@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ewert&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');
.scroll-up-btn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  background-color: #2f4ad0;
  color: white;
  padding: 12px 24px;
  border-radius: 50%;
  font-size: 17px;
  display: none; /* Initially hidden */
  cursor: pointer;
  box-shadow: 0 8px 6px -6px #555;
  transition: all 0.3s ease;
}

.scroll-up-btn:hover {
  background-color: #1a3f8e;
}
/* PRELOADER */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.pl {
  display: block;
  width: 6.25em;
  height: 6.25em;
}
.pl__ring, .pl__ball {
  animation: ring 2s ease-out infinite;
}
.pl__ball {
  animation-name: ball;
}
:root {
  --hue: 223;
  --bg: hsl(var(--hue),10%,10%);
  --fg: hsl(var(--hue),10%,90%);
}
@keyframes ring {
  from {
      stroke-dasharray: 0 257 0 0 1 0 0 258;
  }
  25% {
      stroke-dasharray: 0 0 0 0 257 0 258 0;
  }
  50%, to {
      stroke-dasharray: 0 0 0 0 0 515 0 0;
  }
}
@keyframes ball {
  from, 50% {
      animation-timing-function: ease-in;
      stroke-dashoffset: 1;
  }
  64% {
      animation-timing-function: ease-in;
      stroke-dashoffset: -109;
  }
  78% {
      animation-timing-function: ease-in;
      stroke-dashoffset: -145;
  }
  92% {
      animation-timing-function: ease-in;
      stroke-dashoffset: -157;
  }
  57%, 71%, 85%, 99%, to {
      animation-timing-function: ease-out;
      stroke-dashoffset: -163;
  }
}

/*--BODY--*/

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100%;
  position: relative;
}
.snowflake {
  position: fixed;
  top: -50px;
  color: white;
  user-select: none;
  animation: fall linear infinite;
}
@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg) translateX(20px);
    opacity: 0;
  }
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: white;
  padding: 5px 10px;
  position: fixed;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1000;
  height: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 60px;
}
header {
  animation: slideFade 1s ease-in-out forwards;
}

@keyframes slideFade {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/*-LOGO-*/

.logo a {
  font-weight: bold;
  font-size: 35px;
  padding-left: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  position: relative;
}

/*-MENU-*/

.menu {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  padding: 0 30px;
  margin: 0;
  z-index: 2000;
}
.menu li {
  list-style: none;
}
.menu li a {
  color: white;
  font-family: sans-serif;
  font-size: 13px;
  padding: 9px 19px;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  top: 0px;
}
.menu li a::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 20px;
}
.menu li a:hover::before {
  background: linear-gradient(to bottom, red, red);
  box-shadow: 0px 3px 15px 0px white;
  transform: scale(1.2);
}
.menu li a:hover {
  color: black;
}
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  .menu {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 60px;
      right: 0;
      background: linear-gradient(to bottom, blue, red);
      padding: 140px;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(221, 214, 214, 0.2);
  }
  .menu.active {
      display: flex;
  }

  .menu li {
    margin: 20px 0;
  }
  .menu-toggle {
      display: block;
  }
.logo a{
  padding-left: 5px;
  }
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  margin-bottom: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.card-container h1 {
  font-size: 24px;
  font-family: "Ewert", serif;
  font-weight: 300;
  margin-top: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* Flip Card Container */
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  height: 350px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 30px;
  animation: scalein 1s ease-in-out forwards;
  border-radius: 12px;
  padding-right: 50px;
}

@keyframes scalein {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.flip-card:hover {
  transform: scale(1.08);

}
/* Flip Card Inner */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.flip-card:hover .flip-card-inner {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Flip Card Front */
.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.flip-card img {
  width: 60%;
  max-width: 290px;
  border-radius: 12px;
}

.flip-card h3 {
  color: #fff;
  font-size: 1rem;
}

.flip-card p {
  font-size: 10px;
  text-align: center;
  max-width: 95%;
  color: #ddd;
}
.flip-card-front:hover {
  transform: scale(1.03);
  box-shadow: 0 0 14px 7px rgba(255, 255, 255, 0.8); /* White glow effect */
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.skill {
  background-color: transparent;
  color: white;
  padding: 4px 10px;
  border: 0.5px solid #fff;
  border-radius: 4px;
  font-size: 10px;
  box-sizing: border-box;
}
/* Visit Button */
.visit-btn {
  margin-top: 20px;
  padding: 10px 22px;
  border: none;
  background: linear-gradient(45deg, red, #ff4444);
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.visit-btn:hover {
  background: linear-gradient(45deg, #ff4444, red);
  transform: scale(1.05);
}

/* RESPONSIVENES*/
@media (max-width: 768px) {
  .logo {
      flex-grow: 1;
  }
}
.developer {
  text-align: center;
  font-size: 7px;
  background: black;
  color: white;
  width: 100%;
}